<div class="flex justify-center items-center min-h-screen">
  <!-- Contenitore principale che include sia la ricerca che i risultati -->
  <div class="container-bg w-[400px] bg-white rounded-lg shadow-xl p-8 text-center">

    <!-- Componente di ricerca -->
    <app-search-city (weatherData)="onWeatherDataReceived($event)"></app-search-city>

    <!-- Spazio tra la ricerca e i risultati -->
    <div class="my-5"></div>

    <!-- Mostra la sezione solo se esistono dati meteo -->
    <div *ngIf="weather">
      <!-- Componente di risultati meteo con la classe 'weather-card' -->
      <app-weather-result [weatherData]="weather" class="weather-card"></app-weather-result>
    </div>
  </div>
</div>
